<div class="receta-container">
    <img src="assets/tarta-de-manz.jpg" alt="Tarta de Manzana" >
    <h2>Ingredientes</h2>
    <ul>
      <li>3 manzanas</li>
      <li>1 taza de azúcar</li>
      <li>2 tazas de harina</li>
      <li>1/2 taza de manteca</li>
      <li>1 huevo</li>
      <li>1 cucharadita de canela</li>
    </ul>
    <h2>Preparación</h2>
    <ol>
      <li>Precalentar el horno a 180°C.</li>
      <li>Pelar y cortar las manzanas.</li>
      <li>Mezclar la harina, el azúcar, la manteca y el huevo.</li>
      <li>Agregar las manzanas y la canela a la mezcla.</li>
      <li>Verter en un molde y hornear por 45 minutos.</li>
    </ol>
  </div>
  
